[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "airt"]
	path = airt
	url = https://github.com/sevvandi/airt
[submodule "dobin"]
	path = dobin
	url = https://github.com/sevvandi/dobin
[submodule "eventstream"]
	path = eventstream
	url = https://github.com/sevvandi/eventstream
[submodule "lookout"]
	path = lookout
	url = https://github.com/sevvandi/lookout
[submodule "netseer"]
	path = netseer
	url = https://github.com/sevvandi/netseer
[submodule "oddnet"]
	path = oddnet
	url = https://github.com/sevvandi/oddnet
[submodule "outlierensembles"]
	path = outlierensembles
	url = https://github.com/sevvandi/outlierensembles
[submodule "stxplore"]
	path = stxplore
	url = https://github.com/sevvandi/stxplore
